*{
    margin: 0px;
    padding: opx;
}
.navbar{
    width: 100%;
    display: flex;
}
.container1{
       box-sizing: border-box;
       background-color: black;
       height: 660px;
       width: 645px;
}
.title1{
    box-sizing: border-box;
    background-color: black;
    height: 80px;
    width: 645px;
    padding: 20px;
}
.descrpt{
    padding-left: 100px;
    padding-top: 60px;
}
.container2{
    box-sizing: border-box;
    height: 660px;
    width: 645px;
    
    background-image: url(https://filmfare.wwmindia.com/content/2022/may/akshay-kumar-wont-be-attending-cannes-film-festival.jpg); background-repeat: no-repeat;
    background-size: cover;
}
.arrange{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: yellow;
    list-style: none;
    font-size: x-large;
}
